Hi,

This is reminder #{{ reminder_count }} for {{ batch_id }}.

HILDA STATUS BLOCK
{{ batch_id }}
ITEM-{{ item.item_no }} OPEN: {{ item.item_name }}

Replace OPEN with one of: OWNER_CLOSED, DELAYED, BLOCKED.
Add a short note after the colon.

Regards,
HILDA
